<h1><%= @post.title %></h1>
<br>
We found: <%= @post.article %>
<br>
Category: <%= @post.category %>
<br>
<br>
<%= link_to "Edit this post", edit_url(@post.id) %>
<br>
<%= link_to "Delete this post", show_url(@post.id), :method => 'delete' %>
<br>
<%= link_to "Return to master list", posts_url %>
